<div class="landing-container">
  <app-quotes></app-quotes>
  <h1 class="title">🧘 CalmConnect</h1>
  <p class="subtitle">Your space to track, reflect, and heal.</p>

 <div class="button-group">
 <button class="landing-btn" (click)="navigateTo('mood-tracker')">📈 Mood Tracker</button>
  <button class="landing-btn" (click)="navigateTo('quiz')">🧠 Self-Help Quiz</button>
  <button class="landing-btn" (click)="navigateTo('resources')">🌐 Resources</button>
  <button class="landing-btn" (click)="navigateTo('journal')">📓 Journal</button>
</div>
</div>
